/*utils*/
/*base*/
/*---RESET---*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/*components*/
/*---BUTTON---*/
.tarjeta__btn {
  background-color: #d7fff1;
  color: black;
  font-style: italic;
  font-size: 20px;
  width: 200px;
  border-radius: 0%;
}

.contacto__btn {
  background-color: #d7fff1;
  font-size: 15px;
  border-radius: 5px;
  width: 100px;
  transition: 0.2s;
}
.contacto__btn :hover {
  color: #09e4d2;
  background-color: white;
}

.articulo__btn {
  background-color: #d7fff1;
  font-size: 15px;
  border-radius: 5px;
  width: 100px;
}
.articulo__btn :hover {
  color: #09e4d2;
  background-color: white;
}

/*---NAVBAR---*/
header {
  background-color: #09e4d2;
}

.barra {
  padding: 10px;
  width: 100%;
  transition: all 0.5s;
}
.barra_titulo {
  margin-left: 20px;
}
.barra_titulo a {
  font-size: 35px;
  font-weight: 900;
  font-style: italic;
  color: black;
  text-shadow: 10px 10px 8px black;
  transition: all 0.5s;
}
.barra_hamb {
  margin-right: 20px;
  border: none;
}
.barra_collapse ul {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.barra_collapse ul li {
  font-size: 20px;
  display: inline-block;
  position: relative;
}
.barra_collapse ul li ::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #d7fff1;
  transform-origin: bottom right;
  transition: transform 0.6s ease-out;
}
.barra_collapse ul li :hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.barra__celular {
  text-align: center;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .barra_titulo {
    padding-left: 20px;
  }
  .barra_titulo a {
    font-size: 30px;
  }
  .barra_hamb {
    margin-right: 20px;
  }
}
@media (min-width: 992px) {
  .barra_titulo {
    padding-left: 20px;
  }
  .barra_titulo a {
    font-size: 35px;
  }
  .barra_collapse {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .barra_collapse ul {
    gap: 30px;
    margin-right: 20px;
  }
}
@media (min-width: 1200px) {
  .barra_titulo {
    padding-left: 20px;
  }
  .barra_titulo a {
    font-size: 35px;
  }
  .barra_collapse {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .barra_collapse ul {
    gap: 40px;
    margin-right: 20px;
  }
}
@media (min-width: 1400px) {
  .barra_titulo {
    padding-left: 20px;
  }
  .barra_titulo a {
    font-size: 35px;
  }
  .barra_collapse {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .barra_collapse ul {
    gap: 50px;
    margin-right: 20px;
  }
}
/*---FOOTER---*/
footer {
  background-color: #09e4d2;
}
footer .barrafooter__nav ul li {
  font-size: 20px;
  display: inline-block;
  position: relative;
}
footer .barrafooter__nav ul li ::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #d7fff1;
  transform-origin: bottom right;
  transition: transform 0.6s ease-out;
}
footer .barrafooter__nav ul li :hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*pages*/
/*---INDEX---*/
.portada__contenido {
  background-color: rgb(240, 240, 240);
}
.portada__contenido div ul li {
  list-style-type: square;
}

.tarjeta__portada--fisio {
  background-color: rgb(240, 240, 240);
  transition-duration: 0.5s;
}
.tarjeta__portada--fisio ul li {
  list-style: circle;
  padding: 5px;
  text-align: start;
}
.tarjeta__portada--fisio:hover {
  transform: scale(1.1);
}

.tarjeta__portada--kine {
  background-color: rgb(240, 240, 240);
  transition-duration: 0.5s;
}
.tarjeta__portada--kine ul li {
  list-style: circle;
  padding: 5px;
  text-align: start;
}
.tarjeta__portada--kine:hover {
  transform: scale(1.1);
}

.tarjeta__portada--estetica {
  background-color: rgb(240, 240, 240);
  transition-duration: 0.5s;
}
.tarjeta__portada--estetica ul li {
  list-style: circle;
  padding: 5px;
  text-align: start;
}
.tarjeta__portada--estetica:hover {
  transform: scale(1.1);
}

.tarjeta__portada--dom {
  background-color: rgb(240, 240, 240);
  transition-duration: 0.5s;
}
.tarjeta__portada--dom ul li {
  list-style: circle;
  padding: 5px;
  text-align: start;
}
.tarjeta__portada--dom:hover {
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .tarjeta__portada--kine {
    height: 22rem;
  }
  .tarjeta__portada--dom {
    height: 15rem;
  }
}
@media (min-width: 1400px) {
  .tarjeta__portada--kine {
    height: 20rem;
  }
  .tarjeta__portada--dom {
    height: 13rem;
  }
}
/*---TRATAMIENTOS---*/
/*---KINESIOLOGIA---*/
/*---Estetica---*/
.tarjeta__estetica {
  transition: 0.1s;
}
.tarjeta__estetica:hover {
  transform: scale(1.1);
}
.tarjeta__estetica div ul li {
  list-style-type: square;
  text-align: start;
}

@media (min-width: 576px) {
  .tarjeta__btn {
    width: 450px;
  }
}
@media (min-width: 768px) {
  .tarjeta__estetica {
    width: 300px;
  }
}
/*---CONTACTO---*/
.contacto__iframe iframe {
  border-radius: 15px;
  transition-duration: 0.5s;
}
.contacto__iframe iframe:hover {
  transform: scale(1.1);
}

/*---ARTICULO-DEPORTE---*/
.kinesio__rehabilitacion ul li {
  list-style-type: square;
}

.kinesio__iframe iframe {
  width: 100%;
  height: 25rem;
  border-radius: 0.313rem;
}

.drenaje__manual ul li {
  list-style-type: decimal;
}

.neuro__iframe iframe {
  width: 100%;
  height: 25rem;
  border-radius: 0.313rem;
}

/*# sourceMappingURL=styles.css.map */
