/*utils*/
/*base*/
/*---RESET---*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/*components*/
/*---BUTTON---*/
.tarjeta__btn {
  background-color: #d7fff1;
  color: black;
  font-style: italic;
  font-size: 20px;
  width: 200px;
  border-radius: 0%;
}

/*---NAVBAR---*/
header {
  background-color: #09e4d2;
}

.barra {
  padding: 10px;
  width: 100%;
  transition: all 0.5s;
}
.barra_titulo {
  margin-left: 20px;
}
.barra_titulo a {
  font-size: 35px;
  font-weight: 900;
  font-style: italic;
  color: black;
  text-shadow: 10px 10px 8px black;
  transition: all 0.5s;
}
.barra_hamb {
  margin-right: 20px;
  border: none;
}
.barra_collapse ul {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.barra_collapse ul li {
  font-size: 20px;
  display: inline-block;
  position: relative;
}
.barra_collapse ul li ::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #d7fff1;
  transform-origin: bottom right;
  transition: transform 0.6s ease-out;
}
.barra_collapse ul li :hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.barra__celular {
  text-align: center;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .barra_titulo {
    padding-left: 20px;
  }
  .barra_titulo a {
    font-size: 30px;
  }
  .barra_hamb {
    margin-right: 20px;
  }
}
@media (min-width: 992px) {
  .barra_titulo {
    padding-left: 20px;
  }
  .barra_titulo a {
    font-size: 35px;
  }
  .barra_collapse {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .barra_collapse ul {
    gap: 30px;
    margin-right: 20px;
  }
}
@media (min-width: 1200px) {
  .barra_titulo {
    padding-left: 20px;
  }
  .barra_titulo a {
    font-size: 35px;
  }
  .barra_collapse {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .barra_collapse ul {
    gap: 40px;
    margin-right: 20px;
  }
}
@media (min-width: 1400px) {
  .barra_titulo {
    padding-left: 20px;
  }
  .barra_titulo a {
    font-size: 35px;
  }
  .barra_collapse {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .barra_collapse ul {
    gap: 50px;
    margin-right: 20px;
  }
}
/*---FOOTER---*/
footer {
  background-color: #09e4d2;
}
footer .barrafooter__nav ul li {
  font-size: 20px;
  display: inline-block;
  position: relative;
}
footer .barrafooter__nav ul li ::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #d7fff1;
  transform-origin: bottom right;
  transition: transform 0.6s ease-out;
}
footer .barrafooter__nav ul li :hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*pages*/
/*---INDEX---*/
.tarjeta__portada {
  background-color: #09d8c7;
  transition-duration: 0.5s;
}
.tarjeta__portada ul li {
  list-style: circle;
  padding: 5px;
  text-align: start;
}
.tarjeta__portada:hover {
  transform: scale(1.1);
}

.portada__contenido {
  background-color: rgb(240, 240, 240);
}

@media (min-width: 768px) {
  .tarjeta__portada {
    width: 300px;
  }
}
/*---TRATAMIENTOS---*/ /*---PROMOCIONES---*/
.promociones {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.promociones__titulo h2 {
  font-size: 35px;
  text-align: start;
  text-shadow: 5px 5px 5px;
  padding-top: 50px;
}
.promociones__descrip {
  margin: 15px;
}

.promociones__descrip-tarjeta {
  text-align: center;
  background-color: #01b8aa;
  border-radius: 5px;
  padding: 50px;
  margin: 20px;
  box-shadow: -10px 10px 15px;
  transition-duration: 0.5s;
}
.promociones__descrip-tarjeta:hover {
  transform: scale(1.05);
}
.promociones__descrip-tarjeta h3 {
  font-size: 25px;
}
.promociones__descrip-tarjeta p {
  font-size: 18px;
}

@media (min-width: 576px) {
  .promociones__descrip-tarjeta {
    text-align: center;
    margin: 20px;
  }
}
@media (min-width: 1200px) {
  .promociones {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }
  .promociones__titulo {
    margin: 50px;
  }
  .promociones__titulo h2 {
    font-size: 45px;
  }
  .promociones__descrip {
    margin-top: 150px;
  }
  .promociones__descrip-tarjeta {
    width: 70vh;
    text-align: left;
  }
}
/*---Estetica---*/
@media (min-width: 576px) {
  .tarjeta__btn {
    width: 450px;
  }
}
@media (min-width: 768px) {
  .tarjeta__estetica {
    width: 300px;
  }
}
/*---CONTACTO---*/
.main_contacto {
  background-color: white;
}

.contacto_titulo h2 {
  font-size: 35px;
  padding-top: 150px;
  padding-bottom: 50px;
  text-shadow: 5px 5px 5px;
}
.contacto_formulario {
  font-size: 25px;
}
.contacto_ubicacion {
  display: grid;
  grid-template-rows: repeat(3, 36%);
  justify-items: center;
  align-items: center;
}
.contacto_ubicacion h2 {
  font-size: 35px;
  text-decoration: underline 3px;
  padding: 15px;
}
.contacto_ubicacion iframe {
  margin-bottom: 50px;
  width: 300px;
  height: 300px;
  border-radius: 0px;
  box-shadow: 10px 10px 10px;
  transition-duration: 0.5s;
}
.contacto_ubicacion iframe:hover {
  transform: scale(1.1);
}
.contacto_ubicacion div {
  font-size: 15px;
  font-style: italic;
  font-weight: 600;
  text-align: start;
}

@media (min-width: 576px) {
  .contacto_ubicacion iframe {
    width: 600px;
    height: 400px;
  }
}
@media (min-width: 768px) {
  .contacto_ubicacion iframe {
    width: 700px;
    height: 400px;
  }
}
@media (min-width: 992px) {
  .contacto_titulo h2 {
    font-size: 40px;
  }
  .contacto_ubicacion iframe {
    width: 700px;
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .contacto_ubicacion iframe {
    width: 800px;
    height: 400px;
  }
}

/*# sourceMappingURL=styles.css.map */
