/*utils*/
/*base*/
/*---RESET---*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/*components*/
/*---BUTTON---*/
.barra_btn {
  background-color: #74c69d;
  font-size: 20px;
  border: none;
  padding: 2px 10px;
  box-shadow: 2px 2px 1px black;
  transition: 0.5s;
  text-decoration: none;
}

.tratamientos_btn {
  background-color: #74c69d;
  font-size: 15px;
  border: none;
  width: 10vh;
  box-shadow: 2px 2px 5px black;
}

.contacto_btn {
  background-color: #74c69d;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 2px;
  width: 10vh;
  box-shadow: 2px 2px 5px black;
}

/*---NAVBAR---*/
header {
  background-color: #09e4d2;
}

.barra {
  padding: 10px;
  width: 100%;
  transition: all 0.5s;
}
.barra_titulo {
  margin-left: 20px;
}
.barra_titulo a {
  font-size: 35px;
  font-weight: 900;
  font-style: italic;
  color: black;
  text-shadow: 10px 10px 8px black;
  transition: all 0.5s;
}
.barra_hamb {
  margin-right: 20px;
  border: none;
}
.barra_collapse ul {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.barra_collapse ul li {
  font-size: 20px;
  display: inline-block;
  position: relative;
}
.barra_collapse ul li ::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #74c69d;
  transform-origin: bottom right;
  transition: transform 0.6s ease-out;
}
.barra_collapse ul li :hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (min-width: 768px) {
  .barra_titulo {
    padding-left: 20px;
  }
  .barra_titulo a {
    font-size: 30px;
  }
  .barra_hamb {
    margin-right: 20px;
  }
}
@media (min-width: 992px) {
  .barra_titulo {
    padding-left: 20px;
  }
  .barra_titulo a {
    font-size: 35px;
  }
  .barra_collapse {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .barra_collapse ul {
    gap: 30px;
    margin-right: 20px;
  }
}
@media (min-width: 1200px) {
  .barra_titulo {
    padding-left: 20px;
  }
  .barra_titulo a {
    font-size: 35px;
  }
  .barra_collapse {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .barra_collapse ul {
    gap: 40px;
    margin-right: 20px;
  }
}
@media (min-width: 1400px) {
  .barra_titulo {
    padding-left: 20px;
  }
  .barra_titulo a {
    font-size: 35px;
  }
  .barra_collapse {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .barra_collapse ul {
    gap: 50px;
    margin-right: 20px;
  }
}
/*---FOOTER---*/
footer {
  background-color: #09e4d2;
}
footer .barrafooter__nav ul li {
  font-size: 20px;
  display: inline-block;
  position: relative;
}
footer .barrafooter__nav ul li ::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #74c69d;
  transform-origin: bottom right;
  transition: transform 0.6s ease-out;
}
footer .barrafooter__nav ul li :hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*pages*/
/*---INDEX---*/
.tarjeta__portada {
  background-color: #09d8c7;
  transition-duration: 0.5s;
}
.tarjeta__portada:hover {
  transform: scale(1.1);
}

/*---TRATAMIENTOS---*/
.tratamientos {
  padding-top: 80px;
  background-color: white;
}
.tratamientos__titulo {
  font-size: 35px;
  display: flex;
  justify-content: center;
  padding: 20px;
  text-shadow: 5px 5px 5px;
}

.tratamientos__tarjetas {
  display: grid;
  grid-template-rows: repeat(6, 200px);
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}

.tratamientos__tarjetas-descrip {
  width: 30vh;
  text-align: center;
  background-color: #01b8aa;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 10px 10px 15px;
  transition-duration: 0.5s;
}
.tratamientos__tarjetas-descrip a {
  transform: translate(15px, 8px);
}
.tratamientos__tarjetas-descrip:hover {
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .tratamientos__tarjetas {
    text-align: center;
    padding: 10%;
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 36%);
    grid-template-rows: repeat(3, 36%);
    row-gap: 20px;
    column-gap: 50px;
  }
  .tratamientos__tarjetas h3 {
    font-size: 25px;
  }
  .tratamientos .tratamientos__tarjetas-descrip {
    background-color: #01b8aa;
    border-radius: 10px;
    padding: 15px;
  }
}
@media (min-width: 992px) {
  .tratamientos__tarjetas {
    padding: 10%;
    padding-top: 10px;
  }
}
@media (min-width: 1200px) {
  .tratamientos__tarjetas {
    margin-left: 80px;
    padding: 10%;
    padding-top: 10px;
  }
}
/*---PROMOCIONES---*/
.promociones {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.promociones__titulo h2 {
  font-size: 35px;
  text-align: start;
  text-shadow: 5px 5px 5px;
  padding-top: 50px;
}
.promociones__descrip {
  margin: 15px;
}

.promociones__descrip-tarjeta {
  text-align: center;
  background-color: #01b8aa;
  border-radius: 5px;
  padding: 50px;
  margin: 20px;
  box-shadow: -10px 10px 15px;
  transition-duration: 0.5s;
}
.promociones__descrip-tarjeta:hover {
  transform: scale(1.05);
}
.promociones__descrip-tarjeta h3 {
  font-size: 25px;
}
.promociones__descrip-tarjeta p {
  font-size: 18px;
}

@media (min-width: 576px) {
  .promociones__descrip-tarjeta {
    text-align: center;
    margin: 20px;
  }
}
@media (min-width: 1200px) {
  .promociones {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }
  .promociones__titulo {
    margin: 50px;
  }
  .promociones__titulo h2 {
    font-size: 45px;
  }
  .promociones__descrip {
    margin-top: 150px;
  }
  .promociones__descrip-tarjeta {
    width: 70vh;
    text-align: left;
  }
}
/*---REDES---*/
.testimonios {
  background-color: white;
  display: grid;
  grid-template-columns: 340px;
  grid-template-rows: repeat(6, 200px);
  row-gap: 50px;
  justify-content: center;
  align-items: center;
}
.testimonios h2 {
  text-align: center;
  font-size: 35px;
  padding-top: 100px;
  text-shadow: 5px 5px 5px;
}
.testimonios__tarjeta1 {
  width: 30vh;
  margin: 20px;
  background-color: #01b8aa;
  border-radius: 5px;
  display: grid;
  grid-template-rows: repeat(3, 50px);
  row-gap: 25px;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-align: center;
}
.testimonios__tarjeta1 h4 {
  font-size: 25px;
}
.testimonios__tarjeta1 p {
  font-size: 15px;
}
.testimonios__tarjeta1 h5 {
  font-size: 20px;
}
.testimonios__tarjeta1 a {
  font-size: 30px;
}
.testimonios__tarjeta2 {
  width: 30vh;
  margin: 20px;
  background-color: #01b8aa;
  border-radius: 5px;
  display: grid;
  grid-template-rows: repeat(3, 50px);
  row-gap: 25px;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-align: center;
}
.testimonios__tarjeta2 h4 {
  font-size: 25px;
}
.testimonios__tarjeta2 p {
  margin-top: 25px;
  font-size: 15px;
}
.testimonios__tarjeta2 h5 {
  font-size: 20px;
}
.testimonios__tarjeta2 a {
  font-size: 30px;
}
.testimonios__tarjeta3 {
  width: 30vh;
  margin: 20px;
  background-color: #01b8aa;
  border-radius: 5px;
  display: grid;
  grid-template-rows: repeat(3, 50px);
  row-gap: 25px;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-align: center;
}
.testimonios__tarjeta3 h4 {
  font-size: 25px;
}
.testimonios__tarjeta3 p {
  margin-top: 25px;
  font-size: 15px;
}
.testimonios__tarjeta3 h5 {
  font-size: 20px;
}
.testimonios__tarjeta3 a {
  font-size: 30px;
}
.testimonios__tarjeta4 {
  width: 30vh;
  margin: 20px;
  background-color: #01b8aa;
  border-radius: 5px;
  display: grid;
  grid-template-rows: repeat(3, 50px);
  row-gap: 25px;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-align: center;
}
.testimonios__tarjeta4 h4 {
  font-size: 25px;
}
.testimonios__tarjeta4 p {
  margin-top: 25px;
  font-size: 15px;
}
.testimonios__tarjeta4 h5 {
  font-size: 20px;
}
.testimonios__tarjeta4 a {
  font-size: 30px;
}

@media (min-width: 768px) {
  .testimonios h2 {
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  .testimonios {
    padding: 150px;
    display: grid;
    grid-template-columns: repeat(3, 36%);
    grid-template-rows: repeat(3, 36%);
    column-gap: 20px;
    justify-content: center;
  }
  .testimonios h2 {
    font-size: 45px;
    grid-column: 1/2;
  }
  .testimonios__tarjeta1 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .testimonios__tarjeta2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .testimonios__tarjeta3 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .testimonios__tarjeta4 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
@media (min-width: 1200px) {
  .testimonios {
    padding: 150px;
    display: grid;
    grid-template-columns: repeat(3, 36%);
    grid-template-rows: repeat(3, 36%);
    column-gap: 20px;
  }
  .testimonios h2 {
    font-size: 45px;
    grid-column: 1/2;
  }
  .testimonios__tarjeta1 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .testimonios__tarjeta2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .testimonios__tarjeta3 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
/*---CONTACTO---*/
.main_contacto {
  background-color: white;
}

.contacto_titulo h2 {
  font-size: 35px;
  padding-top: 150px;
  padding-bottom: 50px;
  text-shadow: 5px 5px 5px;
}
.contacto_formulario {
  font-size: 25px;
}
.contacto_ubicacion {
  display: grid;
  grid-template-rows: repeat(3, 36%);
  justify-items: center;
  align-items: center;
}
.contacto_ubicacion h2 {
  font-size: 35px;
  text-decoration: underline 3px;
  padding: 15px;
}
.contacto_ubicacion iframe {
  margin-bottom: 50px;
  width: 300px;
  height: 300px;
  border-radius: 0px;
  box-shadow: 10px 10px 10px;
  transition-duration: 0.5s;
}
.contacto_ubicacion iframe:hover {
  transform: scale(1.1);
}
.contacto_ubicacion div {
  font-size: 15px;
  font-style: italic;
  font-weight: 600;
  text-align: start;
}

@media (min-width: 576px) {
  .contacto_ubicacion iframe {
    width: 600px;
    height: 400px;
  }
}
@media (min-width: 768px) {
  .contacto_ubicacion iframe {
    width: 700px;
    height: 400px;
  }
}
@media (min-width: 992px) {
  .contacto_titulo h2 {
    font-size: 40px;
  }
  .contacto_ubicacion iframe {
    width: 700px;
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .contacto_ubicacion iframe {
    width: 800px;
    height: 400px;
  }
}

/*# sourceMappingURL=styles.css.map */
