
/*---INDEX---*/
.portada__contenido{

   background-color: rgb(240, 240, 240);
   
      div{
         ul{
            li{
               list-style-type: square;
            }
         }
      }
}

.tarjeta__portada--fisio{

    background-color: rgb(240, 240, 240);
    transition-duration: 0.5s;
    
    ul{

      li{
         
         list-style: circle;
         padding: 5px;
         text-align: start;
      }
    }

     &:hover{

        transform: scale(1.1);
     }
}

.tarjeta__portada--kine{

   background-color: rgb(240, 240, 240);
   transition-duration: 0.5s;
   
   ul{

     li{

        list-style: circle;
        padding: 5px;
        text-align: start;
     }
   }

    &:hover{

       transform: scale(1.1);
    }
}

.tarjeta__portada--estetica{

   background-color: rgb(240, 240, 240);
   transition-duration: 0.5s;
   
   ul{

     li{

        list-style: circle;
        padding: 5px;
        text-align: start;
     }
   }

    &:hover{

       transform: scale(1.1);
    }
}

.tarjeta__portada--dom{

   background-color: rgb(240, 240, 240);
   transition-duration: 0.5s;
   
   ul{

     li{

        list-style: circle;
        padding: 5px;
        text-align: start;
     }
   }

    &:hover{

       transform: scale(1.1);
    }
}


@media (min-width: 768px){

   .tarjeta__portada--kine{

      height: 22rem;
   }

   .tarjeta__portada--dom{

      height: 15rem;
   }
}

@media (min-width: 1400px){

   .tarjeta__portada--kine{

      height: 20rem;
   }

   .tarjeta__portada--dom{

      height: 13rem;
   }
}