
/*---PROMOCIONES---*/

.promociones{

    padding-top: 80px;
    padding-bottom: 80px;
    background-color: $color-fondo;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &__titulo h2{

        font-size: 35px;
        text-align: start;
        text-shadow: 5px 5px 5px;
        padding-top: 50px;
    }
    
    &__descrip{

        margin: 15px; 
     }
}

.promociones__descrip-tarjeta{

    text-align: center;
    background-color: $color-caja; 
    border-radius: 5px;
    padding: 50px;
    margin: 20px;
        
    box-shadow: -10px 10px 15px;
    transition-duration: 0.5s;

    &:hover{

        transform: scale(1.05); 
    }

    h3{

        font-size: 25px;
    }

    p{
        font-size: 18px;
    }    
}

@media (min-width: 576px){

    .promociones__descrip-tarjeta{

        text-align: center;
        margin: 20px;
    }
}

@media (min-width: 1200px){

    .promociones{
        
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        
    
        &__titulo{
            
            margin: 50px;  

            h2{
                font-size: 45px;
            }
        }
    
        &__descrip{
    
            margin-top: 150px  
        }
    }
    
    .promociones__descrip-tarjeta{
    
        width: 70vh;
        text-align: left;
    }  
}



   

