
.tratamientos{

    padding-top: 80px;
    background-color: $color-fondo;

    &__titulo{

        font-size: 35px;
        display: flex;
        justify-content: center;
        padding: 20px;
        text-shadow: 5px 5px 5px;
    
    }

}
.tratamientos__tarjetas{

    display: grid;
    
    grid-template-rows: repeat(6, 200px);
    row-gap: 20px;
    justify-content: center;
    align-items: center;

}

.tratamientos__tarjetas-descrip{

    width: 30vh;
    text-align: center;

    background-color: $color-caja;
    border-radius: 5px;
    padding: 15px;

    box-shadow: 10px 10px 15px;
    transition-duration: 0.5s;

    a{

        transform: translate(15px, 8px);
    }

    &:hover{

        transform: scale(1.05);
    }
}

@media (min-width: 768px){

    .tratamientos{

        &__tarjetas{

            text-align: center;

            padding: 10%;
            padding-top: 10px;
    
            display: grid;
            grid-template-columns: repeat(3, 36%);
            grid-template-rows: repeat(3, 36%);
            row-gap: 20px;
            column-gap: 50px;

            h3{
                font-size: 25px;
            }
        }
    
    .tratamientos__tarjetas-descrip{

        background-color: $color-caja;
        
        border-radius: 10px; 
        padding: 15px;
        }    
    }
}

@media (min-width: 992px){

    .tratamientos__tarjetas{

        padding: 10%;
        padding-top: 10px;
    }
}

@media (min-width: 1200px){

    .tratamientos__tarjetas{

        padding: 10%;
        padding-top: 10px;
    }
}