
.tratamientos{

    padding-top: 80px;
    background-color:#def;
    background-image: radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%), radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%);
    background-size:80px 80px;
    background-position:0 0, 40px 40px;

    &__titulo{

        font-size: 35px;
        display: flex;
        justify-content: center;
        padding: 20px;
        text-shadow: 5px 5px 5px;
    
    }

}
.tratamientos__tarjetas{

    display: grid;
    grid-template-columns: 340px;
    grid-template-rows: repeat(6, 200px);
    grid-row-gap: 20px;
    justify-content: center;
    align-items: center;

}

.tratamientos__tarjetas-descrip{

    background-color: rgba(255, 192, 203, 0.856);
    background-image: linear-gradient(to left, white, pink);
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(3, 50px);
    justify-content: center;
    align-items: center;
    padding: 15px;

    box-shadow: 10px 10px 15px;
    transition-duration: 0.5s;

    a{

        transform: translate(15px, 8px);
    
    }

    &:hover{

        transform: scale(1.05);
    
    }
}


@media (min-width: 1100px){

    .tratamientos__tarjetas{
        padding: 10%;
        padding-top: 10px;

        display: grid;
        grid-template-columns: repeat(3, 36%);
        grid-template-rows: repeat(3, 36%);
        grid-column-gap: 20px;

    }

}