.btn{

    background-color: rgb (250, 207, 214);
    border: none;
    border-radius: 15px;
    border-bottom: solid gray;
    padding: 2px 10px;
    transition: 0.5s;

}


@media (min-width: 1100px){

    .btn{

        background-color: rgb (250, 207, 214);
        border: none;
        border-radius: 15px;
        border-bottom: solid gray;
        padding: 2px 10px;
        transition: 0.5s;
    
    }

}


