
/*---BUTTON---*/

.tarjeta__btn{

    background-color: $color-btn;
    color: black;
    font-style: italic;
    font-size: 20px;
    width: 200px;
    border-radius: 0%;
}

.contacto__btn{

    background-color: $color-btn;
    font-size: 15px;
    border-radius: 5px;
    width: 100px;

    transition: 0.2s;

    :hover{
        
        color: $color-primario;
        background-color: white;

    }
}

.articulo__btn{

    background-color: $color-btn;
    font-size: 15px;
    border-radius: 5px;
    width: 100px;

    :hover{
        
        color: $color-primario;
        background-color: white;

    }
}






